#container{
    display:grid;
    grid-template-rows:.3fr 2.8fr;
    grid-template-columns:minmax(300px, .2fr) 1fr;
}

#sidebar{
    border: 2px solid green;
    grid-row: 1/3;
}

#header{
    border: 2px solid red;
}

#content{
    border: 2px solid blue;
}